* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'netflix-normal' ;
    src: url(netflix-sans-font/NetflixSans-Regular.otf);
}

@font-face {
    font-family: 'netflix-bold' ;
    src: url(netflix-sans-font/NetflixSans-Bold.otf);
}

body {
    background-color: #141414;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}

/*responsidade do site*/
@media screen and (max-width:700px) {
    .container-header {
        display: flex;
        flex-direction: column;
    }
    .botao {
        width: 250px;
    }
}

@media screen and (min-width: 1000px) {
    .container .descricao {
        width: 40%;
    }
}

/*menu*/
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .logo {
    margin: 10px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-family: 'netflix-normal';
}

header nav a:hover {
    color: #fff;
}

/*Filme principal*/
.filme-principal {
    font-size: 1em;
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(img/After.jpg);
    height: 500px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}

.titulo {
    font-size: 2.2em;
    font-family: 'netflix-bold';
    margin-top: 10%;
    margin-left: 10px;
}

.descricao {
    font-family: 'netflix-normal';
    font-size: 0.9em;
    margin: 10px 0 40px 10px;
    width: 70%;
}

.botao {
    background-color: rgba(0,0,0,.5);
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 1px 10px;
    font-family: 'netflix-normal';
    font-size: 12px;
    cursor: pointer;
    transition: .3s;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;
}

/*filmes e series*/
.box-fs {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}

